name: KONG

on:
  workflow_dispatch:
  schedule:
    - cron: "0 0/4 * * *"
  pull_request:
    branches: [main]
  push:
    branches: [main]

jobs:
  KONG:
    timeout-minutes: 6
    runs-on: ubuntu-latest
    steps:
      - name: Get KONG
        run: |
          git clone https://${{ secrets.KONG_REPO_PAT }}@github.com/statsig-io/kong.git

      - uses: actions/setup-java@v2
        with:
          java-version: "11"
          distribution: "adopt"

      - uses: gradle/wrapper-validation-action@e6e38bacfdf1a337459f332974bb2327a31aaf4b

      - uses: actions/cache@v3
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
            build/
          key: ${{ runner.os }}-android-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
          restore-keys: |
            ${{ runner.os }}-android-gradle-

      - name: Setup Android Server
        run: |
          cd kong/bridges/android-server
          ./pull-and-build-sdk.sh $GITHUB_REPOSITORY $GITHUB_BASE_REF
          ./build.sh
        env:
          repo_pat: ${{ secrets.KONG_REPO_PAT }}

      - name: Run Tests
        run: |
          cd kong
          npm install
          FORCE_COLOR=true npm run kong -- test android
        env:
          test_api_key: ${{ secrets.KONG_SERVER_SDK_KEY }}
          test_client_key: ${{ secrets.KONG_CLIENT_SDK_KEY }}
