name: test

on:
  workflow_dispatch:
  pull_request:
    branches: [main]
  push:
    branches: [main]

jobs:
  gradle:
    timeout-minutes: 12
    runs-on: ubuntu-latest-16core
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-java@v5
        with:
          java-version: 17
          distribution: "adopt"

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5

      - name: Lint
        run: ./gradlew ktLintCheck

      - name: Test
        run: ./gradlew testDebugUnitTest -i

      - name: Upload test report on failure
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: test-report
          path: build/reports/tests/testDebugUnitTest/
